.contacts-container[b-in1dmtrj43] {
    width: 105rem;
    margin-left: 4rem;
}

.db-update-container[b-in1dmtrj43] {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    padding: 0.5rem;
    background-color: #0004230e;
    border-radius: 5px;
}

    .db-update-container .db-update[b-in1dmtrj43] {
        display: flex;
        flex-direction: column;
    }

    .db-update-container .db-update .text[b-in1dmtrj43] {
        padding-bottom: 0.6rem;
    }
