.contacts-container[b-in1dmtrj43] {
    width: 105rem;
    margin-left: 4rem;
}

.db-update[b-in1dmtrj43] {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: end;
    margin: auto;
}

.db-update .text[b-in1dmtrj43] {
    padding: 0.6rem;
    padding-right: 2rem;
}
