.title[b-fbxl8xesr6] {
    background-color: #0004234a;
    padding: 0.5rem 0 0.5rem 0;
    border-radius: 7px;
}

    .title table[b-fbxl8xesr6] {
        color: #303030;
        font-weight: 600;
    }

table[b-fbxl8xesr6] {
    table-layout: fixed;
    width: 105rem;
    font-weight: 100;
    text-align: center;
    color: rgba(255,255,255, 0.7);
}

td:nth-child(5)[b-fbxl8xesr6] {
    width: 12rem;
}

.contact[b-fbxl8xesr6] {
    display: flex;
    border-radius: 7px;
}

.contact table[b-fbxl8xesr6] {
    color: black;
}

.contact-row[b-fbxl8xesr6] {
    height: 2.5rem;
    padding: 0.5rem 0 0.5rem 0;
}

.btn-danger[b-fbxl8xesr6] {
    padding: 0.5rem;
}

.contact:nth-child(2n+1)[b-fbxl8xesr6] {
    background-color: #0200232a;
}

.contact:nth-child(2n+2)[b-fbxl8xesr6] {
    background-color: #0300401a;
}
