.edit-contact-button[b-98eoe1q1h1] {
    border-radius: 7px;
    text-align: center;
    background-color: #3b3bb6;
    width: 2rem;
    height: 2rem;
    color: white;
    cursor: pointer;
    transition: all 200ms ease;
    margin: auto;
    margin-left: 0.5rem;
}

    .edit-contact-button:hover[b-98eoe1q1h1] {
        background-color: #0082ff;
        transition: all 200ms ease;
    }

.material-symbols-outlined[b-98eoe1q1h1] {
    font-size: 2rem;
}