.add-contact-container {
    display: flex;
    padding: 1rem;
    justify-content: center;
}

.add-contact-button {
    border-radius: 7px;
    text-align: center;
    background-color: lawngreen;
    width: 5rem;
    height: 2.5rem;
    color: white;
    cursor: pointer;
    transition: all 200ms ease;
}

    .add-contact-button:hover {
        background-color: forestgreen;
        transition: all 200ms ease;
    }

.material-symbols-outlined {
    margin: auto;
    font-size: 2.5rem;
}


