.title {
    background-color: #0004234a;
    padding: 0.5rem 0 0.5rem 0;
    border-radius: 7px;
}

    .title table {
        color: #303030;
        font-weight: 600;
    }

table {
    table-layout: fixed;
    width: 105rem;
    font-weight: 100;
    text-align: center;
    color: rgba(255,255,255, 0.7);
}

td:nth-child(5) {
    width: 12rem;
}

.contact {
    display: flex;
    border-radius: 7px;
}

.contact table {
    color: black;
}

.contact-row {
    height: 2.5rem;
    padding: 0.5rem 0 0.5rem 0;
}

.btn-danger {
    padding: 0.5rem;
}

.contact:nth-child(2n+1) {
    background-color: #0200232a;
}

.contact:nth-child(2n+2) {
    background-color: #0300401a;
}
