.contacts-container {
    width: 105rem;
    margin-left: 4rem;
}

.db-update {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: end;
    margin: auto;
}

.db-update .text {
    padding: 0.6rem;
    padding-right: 2rem;
}
