.db-update-buttons-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.save-button {
    border-radius: 7px;
    text-align: center;
    background-color: blue;
    width: 7rem;
    height: 3rem;
    color: white;
    cursor: pointer;
    transition: all 200ms ease;
}

    .save-button:hover {
        background-color: #2480ff;
        transition: all 200ms ease;
    }

    .save-button .text {
        font-size: 1.2rem;
        font-weight: 600;
        font-weight: 600;
        padding: 0.6rem;
    }

.cancel-button {
    border-radius: 7px;
    text-align: center;
    background-color: #cc0000;
    width: 7rem;
    height: 3rem;
    color: white;
    cursor: pointer;
    transition: all 200ms ease;
}

    .cancel-button:hover {
        background-color: red;
        transition: all 200ms ease;
    }

    .cancel-button .text {
        font-size: 1.2rem;
        font-weight: 600;
        font-weight: 600;
        padding: 0.6rem;
    }
