
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,700,0,0" />

    <div class="delete-contact-button" @onclick="OnDeleteContactButtonClick">
        <span class="material-symbols-outlined">
            close
        </span>
    </div>



@code {

    [Parameter]
    public EventCallback<bool> DeleteContact { get; set; }

    public void OnDeleteContactButtonClick()
    {
        DeleteContact.InvokeAsync();
    }
}
