/* _content/TheContactBookApplication/Components/AddContactButton.razor.rz.scp.css */
.add-contact-container[b-3ngr44tqr7] {
    display: flex;
    padding: 1rem;
    justify-content: center;
}

.add-contact-button[b-3ngr44tqr7] {
    border-radius: 7px;
    text-align: center;
    background-color: #29a829;
    width: 6rem;
    height: 2.5rem;
    color: white;
    cursor: pointer;
    transition: all 200ms ease;
}

    .add-contact-button:hover[b-3ngr44tqr7] {
        background-color: #34e600;
        transition: all 200ms ease;
    }

.material-symbols-outlined[b-3ngr44tqr7] {
    font-size: 2.5rem;
    font-weight: 600;
}



/* _content/TheContactBookApplication/Components/Contact.razor.rz.scp.css */
.title[b-fbxl8xesr6] {
    background-color: #0004234a;
    padding: 0.5rem 0 0.5rem 0;
    border-radius: 7px;
}

    .title table[b-fbxl8xesr6] {
        color: #303030;
        font-weight: 600;
    }

table[b-fbxl8xesr6] {
    table-layout: fixed;
    width: 105rem;
    font-weight: 100;
    text-align: center;
    color: rgba(255,255,255, 0.7);
}

td:nth-child(5)[b-fbxl8xesr6] {
    width: 12rem;
}

.contact[b-fbxl8xesr6] {
    display: flex;
    border-radius: 7px;
}

.contact table[b-fbxl8xesr6] {
    color: black;
}

.contact-row[b-fbxl8xesr6] {
    height: 2.5rem;
    padding: 0.5rem 0 0.5rem 0;
}

.btn-danger[b-fbxl8xesr6] {
    padding: 0.5rem;
}

.contact:nth-child(2n+1)[b-fbxl8xesr6] {
    background-color: #0200232a;
}

.contact:nth-child(2n+2)[b-fbxl8xesr6] {
    background-color: #0300401a;
}
/* _content/TheContactBookApplication/Components/ContactsContainer.razor.rz.scp.css */
.contacts-container[b-in1dmtrj43] {
    width: 105rem;
    margin-left: 4rem;
}

.db-update-container[b-in1dmtrj43] {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    padding: 0.5rem;
    background-color: #0004230e;
    border-radius: 5px;
}

    .db-update-container .db-update[b-in1dmtrj43] {
        display: flex;
        flex-direction: column;
    }

    .db-update-container .db-update .text[b-in1dmtrj43] {
        padding-bottom: 0.6rem;
    }
/* _content/TheContactBookApplication/Components/DatabaseUpdateButtons.razor.rz.scp.css */
.db-update-buttons-container[b-zf2i1xd1zt] {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.save-button[b-zf2i1xd1zt] {
    border-radius: 7px;
    text-align: center;
    background-color: blue;
    width: 6rem;
    height: 2.5rem;
    color: white;
    cursor: pointer;
    transition: all 200ms ease;
}

    .save-button:hover[b-zf2i1xd1zt] {
        background-color: #006bff;
        transition: all 200ms ease;
    }

    .save-button .text[b-zf2i1xd1zt] {
        font-size: 1.2rem;
        font-weight: 600;
        font-weight: 600;
        padding: 0.35rem;
    }

.cancel-button[b-zf2i1xd1zt] {
    border-radius: 7px;
    text-align: center;
    background-color: #cc0000;
    width: 6rem;
    height: 2.5rem;
    color: white;
    cursor: pointer;
    transition: all 200ms ease;
}

    .cancel-button:hover[b-zf2i1xd1zt] {
        background-color: red;
        transition: all 200ms ease;
    }

    .cancel-button .text[b-zf2i1xd1zt] {
        font-size: 1.2rem;
        font-weight: 600;
        font-weight: 600;
        padding: 0.35rem;
    }
/* _content/TheContactBookApplication/Components/DeleteContactButton.razor.rz.scp.css */
.delete-contact-button[b-d1o1gno492] {
    border-radius: 7px;
    text-align: center;
    background-color: #bb0000;
    width: 2rem;
    height: 2rem;
    color: white;
    cursor: pointer;
    transition: all 200ms ease;
    margin: auto;
    margin-left: 0.5rem;
}

    .delete-contact-button:hover[b-d1o1gno492] {
        background-color: red;
        transition: all 200ms ease;
    }

.material-symbols-outlined[b-d1o1gno492] {
    font-size: 2rem;
}
/* _content/TheContactBookApplication/Components/EditContactButton.razor.rz.scp.css */
.edit-contact-button[b-98eoe1q1h1] {
    border-radius: 7px;
    text-align: center;
    background-color: #3b3bb6;
    width: 2rem;
    height: 2rem;
    color: white;
    cursor: pointer;
    transition: all 200ms ease;
    margin: auto;
    margin-left: 0.5rem;
}

    .edit-contact-button:hover[b-98eoe1q1h1] {
        background-color: #0082ff;
        transition: all 200ms ease;
    }

.material-symbols-outlined[b-98eoe1q1h1] {
    font-size: 2rem;
}
/* _content/TheContactBookApplication/Pages/Index.razor.rz.scp.css */
.header[b-r0enttl3uq] {
    width: 105rem;
    margin-left: 4rem;
    display: flex;
    font-size: 2.5rem;
    font-weight: 500;
    padding: 1rem;
    justify-content: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* _content/TheContactBookApplication/Shared/MainLayout.razor.rz.scp.css */



/* _content/TheContactBookApplication/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-7nleytes5v] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-7nleytes5v] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-7nleytes5v] {
    font-size: 1.1rem;
}

.oi[b-7nleytes5v] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-7nleytes5v] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-7nleytes5v] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-7nleytes5v] {
        padding-bottom: 1rem;
    }

    .nav-item[b-7nleytes5v]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-7nleytes5v]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-7nleytes5v]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-7nleytes5v] {
        display: none;
    }

    .collapse[b-7nleytes5v] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-7nleytes5v] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
